header{
text-align: center;
font-size: 1.8em;
color: rgb(228, 11, 11);

}


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1pxpapayawhip solid;
    padding: 1em;
}
footer p{
    text-align: center;
    font-size: S0.9em;
    color: papayawhip;
    margin: 0.5em

}

div{
    width: 40%;
    margin: 1emauto
}

img{
    width: 100%
}